[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
dj-database-url = "*"
django-environ = "*"
python-decouple = "*"
psycopg = "*"
psycopg2 = "*"
crispy-tailwind = "*"
django-ninja = "*"
djangorestframework = "*"
django-filter = "*"

[dev-packages]

[requires]
python_version = "3.12"
